<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8"/>
    <title>{{tittel}}</title>
    <meta name="subject" content="{{tittel}}"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="{{tittel}} {{søknadMottattDag}} {{ søknadMottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Dine barn" href="#dineBarn"/>
        <bookmark name="Den andre forelderen" href="#andre_forelderen"/>
        <bookmark name="Samtykke" href="#samtykke"/>
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
<h1 id="header">{{tittel}}</h1>
<div class="nokkelinfo">
    <p><strong>Sendt til NAV</strong> {{søknadMottattDag}} {{ søknadMottatt }}</p>
    <p><strong>Språk:</strong> {{hjelp.språk}}</p>
</div>
<div class="innholdscontainer">
    {{> partial/felles/personPartial id="søker" title="Søker" navn=søker.navn fødselsnummer=søker.fødselsnummer }}

    <section id="dineBarn">
        <h2>Dine barn</h2>
        <ul class="ul-no-indent">
            {{# each barn as |barn|~}}
                <li>
                    {{> partial/felles/personPartial id="dineBarn" title="" navn=barn.navn fødselsnummer=barn.norskIdentifikator }}
                </li>
            {{/each}}
        </ul>
    </section>

    <!-- ANDRE_FORELDER -->
    <section id="andre_forelderen">
        <h2>Den andre forelderen</h2>
        <p class="sporsmalstekst">Hva er navnet til den andre forelderen?</p>
        <p>{{annenForelder.navn}}</p>
        <p class="sporsmalstekst">Hva er fødselsnummeret til den andre forelderen?</p>
        <p>{{annenForelder.fnr}}</p>
        <p class="sporsmalstekst">Hva er grunnen til at den andre forelderen ikke kan ta seg av barn?</p>
        <p>{{annenForelder.situasjon}}</p>
        {{#if annenForelder.beskrivelse}}
            <p class="sporsmalstekst">Beskrivelse av situasjonen:</p>
            <p class="fritekst">{{annenForelder.beskrivelse}}</p>
        {{/if}}
        {{#if annenForelder.periodeFraOgMed}}
            <p class="sporsmalstekst">Perioden den andre forelderen ikke kan ta seg av barn</p>
        <p>{{annenForelder.periodeFraOgMed}} -
            {{#if annenForelder.periodeTilOgMed}}
                {{annenForelder.periodeTilOgMed}}
                {{#if hjelp.erPeriodenOver6Måneder}}
                    (over 6 måneder)
                {{else}}
                    (ikke over 6 måneder)
                {{/if}}
            {{else}}
                Jeg vet ikke hvor lenge perioden vil være.

                {{#if hjelp.periodeOver6MånederSatt}}

                    <p class="sporsmalstekst">Har perioden en varighet på minst 6 måneder?</p>
                    <p>{{ jaNeiSvar annenForelder.periodeOver6Måneder}}</p>
                {{/if}}

            {{/if}}

            </p>
        {{/if}}
    </section>

    <!-- SAMTYKKE -->
    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr/>
        <p class="sporsmalstekst">Har du bekreftet at opplysninger du har gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
    </section>

</div>

<!-- FOOTER -->
{{> partial/footerPartial søknadId=søknadId gitSha=soknadDialogCommitSha}}
</body>

</html>
