<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8"/>
    <title>{{tittel}}</title>
    <meta name="subject" content="{{tittel}}"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="{{tittel}} {{søknadMottattDag}} {{ søknadMottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Pleietrengende" href="#pleietrengende"/>
        <bookmark name="Utenlandsopphold" href="#utenlandsopphold"/>
        <bookmark name="Medlemskap" href="#medlemskap"/>
        <bookmark name="Arbeidsgivere" href="#arbeidsgivere"/>
        <bookmark name="Utenlandsk næring" href="#utenlandskNæring"/>
        <bookmark name="Jobb i søknadsperioden" href="#jobbISøknadsperioden"/>
        <bookmark name="Samtykke" href="#samtykke"/>
        <bookmark name="vedlegg" href="#vedlegg"/>
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
<h1 id="header">{{tittel}}</h1>
<div class="nokkelinfo">
    <p><strong>Sendt til NAV</strong> {{søknadMottattDag}} {{ søknadMottatt }}</p>
    <p><strong>Språk:</strong> {{hjelp.språk}}</p>
</div>
<div class="innholdscontainer">
    {{> partial/felles/personPartial id="søker" title="Søker" navn=søker.navn fødselsnummer=søker.fødselsnummer }}

    <section id="pleietrengende">
        <h2>Om personen du pleier</h2>
        {{> partial/felles/personPartial id="pleietrengende" title="" navn=pleietrengende.navn fødselsnummer=pleietrengende.norskIdentitetsnummer fødselsdato=pleietrengende.fødselsdato årsakManglerIdentitetsnummer=pleietrengende.årsakManglerIdentitetsnummer }}

        {{#if flereSokere }}
            <p class="sporsmalstekst">Er dere flere som skal dele på pleiepengene?</p>
            {{#eq flereSokere "JA" }}
                <p>Ja</p>
            {{/eq}}
            {{#eq flereSokere "NEI" }}
                <p>Nei</p>
            {{/eq}}
            {{#eq flereSokere "USIKKER" }}
                <p>Usikker</p>
            {{/eq}}
        {{/if}}
    </section>

    <section id="perioder">
        <h2>Dagene du søker pleiepenger for</h2>
        <h3>{{dagerMedPleie.totalAntallDagerMedPleie}} dager med pleiepenger</h3>

        {{#each dagerMedPleie.uker as |uke|~}}
            <p><b> Uke: {{uke.uke}}</b></p>
            <ul>
                {{#each uke.perioder as |periode|~}}
                    <li>{{periode}}</li>
                {{/each}}
            </ul>
        {{/each}}
        <br/>

        <p class="sporsmalstekst">Skal du pleie personen i hjemme i de dagene du søker for?</p>
        <p>{{ jaNeiSvar pleierDuDenSykeHjemme}}</p>
        <br/>

        <p class="sporsmalstekst">Skal du jobbe delvis i noen av dagene du søker for?</p>
        <p>{{ jaNeiSvar skalJobbeOgPleieSammeDag}}</p>
        <br/>

        <p class="sporsmalstekst">Oppholder du deg i utlandet i noen av dagene du søker for?</p>
        {{# if utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}</p>
            <ul>
                {{# each utenlandsoppholdIPerioden.opphold as |opphold|~}}
                    <li>
                        <p>{{opphold.fraOgMed}} - {{opphold.tilOgMed}}:  {{opphold.landnavn}}</p>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>{{ jaNeiSvar utenlandsoppholdIPerioden.skalOppholdeSegIUtlandetIPerioden }}</p>
        {{/if}}

    </section>

    <section id="arbeidsgivere">
        {{# if hjelp.ingen_arbeidsgivere }}
            <h2>Arbeidsgivere</h2>
            <ul>
                <li class="ikke_satt">Ingen arbeidsforhold registrert i AA-registeret.</li>
            </ul>
        {{/if}}

        {{#if arbeidsgivere}}
            <h2>Din arbeidssituasjon</h2>
            {{#each arbeidsgivere as |arbeidsgiver|~}}
                <ul class="ul-no-indent">
                    <li class="li-style-none">
                        <h3>{{arbeidsgiver.navn}} (orgnr: {{arbeidsgiver.organisasjonsnummer}})</h3>
                        <ul>
                            {{#if arbeidsgiver.erAnsatt}}
                                <li>Er ansatt i perioden</li>
                            {{else}}
                                <li>Er ikke ansatt i perioden</li>
                                {{#if arbeidsgiver.sluttetFørSøknadsperiodeErSatt}}
                                    <li>
                                        <p>Sluttet du hos {{arbeidsgiver.navn}} før {{periode.fraOgMed}}?</p>
                                        <p>{{ jaNeiSvar arbeidsgiver.sluttetFørSøknadsperiode }}</p>
                                    </li>
                                {{/if}}
                            {{/if}}
                            {{#if arbeidsgiver.arbeidsforhold}}
                                <li>Jobber normalt {{arbeidsgiver.arbeidsforhold.jobberNormaltTimer}} timer per uke
                                </li>
                            {{/if}}
                        </ul>
                    </li>
                </ul>
            {{/each}}
        {{/if}}

        <h3>Frilans</h3>
        {{# if frilans.harHattInntektSomFrilanser }}
            <ul>
                <li>Startet som frilanser {{frilans.startdato}}</li>
                {{#if frilans.arbeidsforhold}}
                    <li>Jobber normalt {{frilans.arbeidsforhold.jobberNormaltTimer}} timer per uke</li>
                {{/if}}

                {{#if frilans.jobberFortsattSomFrilans}}
                    <li>Jobber fremdeles som frilanser</li>
                {{/if}}
                {{#unless frilans.jobberFortsattSomFrilans}}
                    <li>Sluttet som frilanser {{frilans.sluttdato}}</li>
                {{/unless}}
            </ul>

            {{#unless frilans.jobberFortsattSomFrilans}}
                <p><b>Når sluttet du som frilanser?</b></p>
                <p>{{frilans.sluttdato}}</p>
            {{/unless}}
        {{else}}
            <p>Er ikke frilanser i perioden det søkes om.</p>
        {{/if}}
        <br/>

        {{#if selvstendigNæringsdrivende}}
            <h3>Selvstendig næringsdrivende</h3>

            <ul>
                <li>Er selvstendig næringsdrivende i perioden</li>
                {{#if selvstendigNæringsdrivende.virksomhet.harFlereAktiveVirksomheter}}
                    <li>Har flere virksomheter</li>
                {{/if}}
                {{#if selvstendigNæringsdrivende.arbeidsforhold}}
                    <li>Jobber normalt {{selvstendigNæringsdrivende.arbeidsforhold.jobberNormaltTimer}} timer per uke
                    </li>
                {{/if}}
            </ul>

            <h3>Næringsvirksomhet som du har lagt inn</h3>
            <p>Navn: {{selvstendigNæringsdrivende.virksomhet.navnPåVirksomheten}}</p>
            <p>Næringstye: {{selvstendigNæringsdrivende.virksomhet.næringstype}}</p>
            {{#if selvstendigNæringsdrivende.virksomhet.registrertINorge}}
                <p>Registrert i Norge
                    (organisasjonsnummer: {{selvstendigNæringsdrivende.virksomhet.organisasjonsnummer}})</p>
            {{else}}
                <p>Registrert i land: {{selvstendigNæringsdrivende.virksomhet.registrertIUtlandet.landnavn}}
                    ({{selvstendigNæringsdrivende.virksomhet.registrertIUtlandet.landkode}})</p>
            {{/if}}

            <p>Startet: {{selvstendigNæringsdrivende.virksomhet.fraOgMed}}
                {{#unless selvstendigNæringsdrivende.virksomhet.tilOgMed}}
                    (pågående)
                {{/unless}}
            </p>

            {{#if selvstendigNæringsdrivende.virksomhet.tilOgMed}}
                <p>Avsluttet: {{selvstendigNæringsdrivende.virksomhet.tilOgMed}}</p>
            {{/if}}

            <p>Næringstype: {{selvstendigNæringsdrivende.virksomhet.næringstype}}
                {{#eq selvstendigNæringsdrivende.virksomhet.næringstype "Fiske"}}
                    {{#if selvstendigNæringsdrivende.fiskerErPåBladB}}
                        (blad B)
                    {{else}}
                        (ikke blad B)
                    {{/if}}
                {{/eq}}
            </p>
            <br/>

            {{#if selvstendigNæringsdrivende.virksomhet.næringsinntekt}}
                <p class="sporsmalstekst">Hva har du hatt i næringsresultat før skatt de siste 12 månedene?</p>
                <p>{{selvstendigNæringsdrivende.virksomhet.næringsinntekt}}-,</p>
                <br/>
            {{/if}}

            {{#if selvstendigNæringsdrivende.virksomhet.varigEndring}}
                <p class="sporsmalstekst">Har du hatt en varig endring i noen av arbeidsforholdene, virksomhetene eller
                    arbeidssituasjonen din de siste fire årene?</p>
                <p>Ja</p>
                <br/>

                <p class="sporsmalstekst">Dato for når varig endring:</p>
                <p>{{selvstendigNæringsdrivende.virksomhet.varigEndring.dato}}</p>
                <br/>

                <p class="sporsmalstekst">Næringsinntekt etter endringen</p>
                <p>{{selvstendigNæringsdrivende.virksomhet.varigEndring.inntektEtterEndring}}</p>
                <br/>

                <div class="fritekst">
                    <p class="sporsmalstekst">Beskrivelse av endring</p>
                    <p class="fritekst_textarea">{{selvstendigNæringsdrivende.virksomhet.varigEndring.forklaring}}</p>
                    <br/>
                </div>
            {{/if}}

            {{#if selvstendigNæringsdrivende.virksomhet.yrkesaktivSisteTreFerdigliknedeÅrene}}
                <p class="sporsmalstekst">Har du begynt i arbeidslivet i løpet av de 3 siste ferdigliknede årene?</p>
                <p>Ja, ble yrkesaktiv: {{selvstendigNæringsdrivende.virksomhet.yrkesaktivSisteTreFerdigliknedeÅrene.oppstartsdato}}</p>
                <br/>
            {{else}}
                <p>Nei</p>
                <br/>
            {{/if}}

            {{#if selvstendigNæringsdrivende.virksomhet.regnskapsfører}}
                <p class="sporsmalstekst">Har du regnskapsfører?</p>
                <p>Ja, {{selvstendigNæringsdrivende.virksomhet.regnskapsfører.navn}}, telefon {{selvstendigNæringsdrivende.virksomhet.regnskapsfører.telefon}}</p>
                <br/>
            {{else}}
                <p>Nei</p>
                <br/>
            {{/if}}

            {{#if hjelper.harFlereAktiveVirksomheterErSatt}}
                <p class="sporsmalstekst">Har du flere enn én næringsvirksomhet som er aktiv?</p>
                {{jaNeiSvar selvstendigNæringsdrivende.virksomhet.harFlereAktiveVirksomheter}}
                <br/>
            {{/if}}
        {{else}}
            <h2>Selvstendig næringsdrivende</h2>
            <p>Har ikke vært selvstending næringsdrivende i perioden det søkes om.</p>
            <br/>
        {{/if}}

        {{#if opptjeningIUtlandet}}
            <p class="sporsmalstekst">Har jobbet som arbeidstaker eller frilanser i et annet EØS-land i løpet av de 3
                siste månedene før perioden en søker om?</p>
            {{#each opptjeningIUtlandet as |opptjeningIUtlandet|~}}
                <ul>
                    <li>
                        <p>Jobbet i {{opptjeningIUtlandet.land.landnavn}}
                            som {{opptjeningIUtlandet.opptjeningType}}
                            hos {{opptjeningIUtlandet.navn}}
                            {{opptjeningIUtlandet.fraOgMed}} - {{opptjeningIUtlandet.tilOgMed}}.
                        </p>
                    </li>
                </ul>
            {{/each}}
        {{else}}
            <p>Nei</p>
        {{/if}}
    </section>

    <section id="jobbISøknadsperioden">
        <h2>Jobb i søknadsperioden</h2>
        {{# if hjelp.ingen_arbeidsforhold }}
            <ul>
                <li class="ikke_satt">Ingen arbeidsforhold er registrert i søknadsperioden</li>
            </ul>
        {{/if}}

        {{#if arbeidsgivere}}
            {{#each arbeidsgivere as |arbeidsgiver|~}}
                <ul class="ul-no-indent">
                    {{#if arbeidsgiver.arbeidsforhold}}
                        <li><b>{{arbeidsgiver.navn}} (orgnr: {{arbeidsgiver.organisasjonsnummer}})</b></li>
                        {{> partial/pils/arbeidsforholdPartial arbeidsforhold=arbeidsgiver.arbeidsforhold}}
                    {{/if}}
                </ul>
            {{/each}}
        {{/if}}

        {{#if frilans.arbeidsforhold}}
            <ul class="ul-no-indent">
                <li><b>Frilans</b></li>
                {{> partial/pils/arbeidsforholdPartial arbeidsforhold=frilans.arbeidsforhold}}
            </ul>
        {{/if}}


        {{#if selvstendigNæringsdrivende.arbeidsforhold}}
            <ul class="ul-no-indent">
                <li><b>Selvstendig næringsdrivende</b></li>
                {{> partial/pils/arbeidsforholdPartial arbeidsforhold=selvstendigNæringsdrivende.arbeidsforhold}}
            </ul>
        {{/if}}

    </section>

    <section id="medlemskap">
        <h2>Medlemskap i folketrygden</h2>

        <p class="sporsmalstekst">Har du bodd i utlandet de siste 12 månedene?</p>
        {{#if medlemskap.harBoddIUtlandetSiste12Mnd}}
            <p>Ja</p>
            <ul>
                {{#each medlemskap.utenlandsoppholdSiste12Mnd as | bosted|~}}
                    <li>
                        {{bosted.landnavn}} ({{bosted.fraOgMed}} - {{bosted.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            Nei
        {{/if}}

        <p class="sporsmalstekst">Skal du bo i utlandet de neste 12 månedene?</p>
        {{#if medlemskap.skalBoIUtlandetNeste12Mnd}}
            <p>Ja</p>
            <ul>
                {{#each medlemskap.utenlandsoppholdNeste12Mnd as | bosted|~}}
                    <li>
                        {{bosted.landnavn}} ({{bosted.fraOgMed}} - {{bosted.tilOgMed}})
                    </li>
                {{/each}}
            </ul>
        {{else}}
            Nei
        {{/if}}
    </section>

    <section id="verneplikt">
        {{# if hjelp.harVærtEllerErVernepliktigErSatt}}
            <h2>Verneplikt</h2>
            <p class="sporsmalstekst">Utøvde du verneplikt på tidspunktet du søker pleiepenger fra?</p>
            <p>{{ jaNeiSvar harVærtEllerErVernepliktig }}</p>
        {{/if}}
    </section>

    <section id="utenlandskNæring">
        <h2>Utenlandsk næring</h2>
        {{#if utenlandskNæring}}
            <p>Ja</p>
            {{#each utenlandskNæring as |næring|~}}
                <ul>
                    <li>
                        <p><b>{{næring.navnPåVirksomheten}} ({{næring.fraOgMed}} - {{næring.tilOgMed}})</b></p>
                        <p>{{næring.land.landnavn}} {{næring.land.landkode}}</p>
                        {{#if næring.organisasjonsnummer}}
                            <p>Organisasjonsnummer: {{næring.organisasjonsnummer}}</p>
                        {{/if}}
                        <p>Næringstype: {{næring.næringstype}}</p>
                    </li>
                </ul>
            {{/each}}
        {{else}}
            <p>Nei</p>
        {{/if}}
    </section>

    <section id="vedlegg">
        <h2>Vedlegg</h2>
        {{#if pleietrengende.manglerNorskIdentitetsnummer}}
            {{#if harLastetOppId}}
                <p>Har lastet opp kopi av ID til pleietrengende.</p>
            {{else}}
                <p>Har ikke lastet opp kopi av ID til pleietrengende.</p>
            {{/if}}
        {{/if}}

        {{#if harLastetOppLegeerklæring}}
            <p>Har lastet opp legeerklæring.</p>
        {{else}}
            <p>Har ikke lastet opp legeerklæring.</p>
        {{/if}}

    </section>

    <!-- SAMTYKKE -->
    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr/>
        <p class="sporsmalstekst">Har du bekreftet at opplysninger du har gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
    </section>

</div>

<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ søknadId }}</span>
    <span class="soknadsid">{{ id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>
