<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Endringsmelding om pleiepenger for sykt barn eller person over 18 år</title>
    <meta name="subject" content="Endringsmelding om pleiepenger for sykt barn eller person over 18 år"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="Endringsmelding om pleiepenger for sykt barn eller person over 18 år mottatt {{soknad_mottatt_dag}} {{ soknad_mottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Barn" href="#barn"/>
        <bookmark name="Arbeidstid" href="#arbeidstid"/>
        <bookmark name="LovbestemtFerie" href="#lovbestemtFerie"/>
        <bookmark name="Samtykke" href="#samtykke"/>
    </bookmarks>
    {{#block 'style-common' }} {{/block}}
</head>

<body>
<h1 id="header">Endringsmelding om pleiepenger for sykt barn eller person over 18 år</h1>

<p class="nokkelinfo"><strong>Sendt til NAV </strong>{{mottattDag}} {{ mottattDato }}</p>

<div class="innholdscontainer">
    {{> partial/felles/personPartial id="søker" title="Søker" navn=soker.navn fødselsnummer=soker.fødselsnummer }}
    {{> partial/felles/personPartial id="barn" title="Barn" navn=barn.navn fødselsnummer=barn.fødselsnummer }}

    {{#if arbeidstid}}
        <section id="arbeidstid">
            {{#if arbeidstid.arbeidstakerList}}
                <h2>Endringer i jobb som arbeidstaker</h2>
                <ul class="li-style-none ul-no-indent">
                    {{#each arbeidstid.arbeidstakerList as |arbeidsgiver|~}}
                        <li>
                            <b>Organisasjonsnummer</b>: {{arbeidsgiver.organisasjonsnummer}} <br/>
                            {{> partial/arbeid/arbeidstidinfoPartial arbeidstidinfo=arbeidsgiver.arbeidstidInfo}}
                        </li>
                    {{/each}}
                </ul>
                <br/>
            {{/if}}

            {{#if arbeidstid.frilanserArbeidstidInfo}}
                <h2>Endringer i jobb som frilanser</h2>
                {{> partial/arbeid/arbeidstidinfoPartial arbeidstidinfo=arbeidstid.frilanserArbeidstidInfo}}
                <br/>
            {{/if}}

            {{#if arbeidstid.selvstendigNæringsdrivendeArbeidstidInfo}}
                <h2>Endringer i jobb som selvstendig næringsdrivende</h2>
                {{> partial/arbeid/arbeidstidinfoPartial arbeidstidinfo=arbeidstid.selvstendigNæringsdrivendeArbeidstidInfo}}
                <br/>
            {{/if}}

        </section>
    {{/if}}

    {{#if lovbestemtFerie}}
        <section id="lovbestemtFerie">
            <h2>Endringer i lovbestemt ferie</h2>

            {{#if lovbestemtFerie.harPerioderLagtTil}}
                <h3>Ferie som er lagt til</h3>
                <ul>
                    {{#each lovbestemtFerie.perioderLagtTil as |periode|~}}
                        <li>{{periode.periode.fraOgMedDag}} {{periode.periode.fraOgMed}} - {{periode.periode.tilOgMedDag}} {{periode.periode.tilOgMed}}</li>
                    {{/each}}
                </ul>
            {{/if}}

            {{#if lovbestemtFerie.harPerioderFjernet}}
                <h3>Ferie som er fjernet</h3>
                <ul>
                    {{#each lovbestemtFerie.perioderFjernet as |periode|~}}
                        <li>{{periode.periode.fraOgMedDag}} {{periode.periode.fraOgMed}} - {{periode.periode.tilOgMedDag}} {{periode.periode.tilOgMed}}</li>
                    {{/each}}
                </ul>
            {{/if}}

        </section>
    {{/if}}

    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.har_forstatt_rettigheter_og_plikter }}</p>
        <hr/>
        <p class="sporsmalstekst">Har du bekreftet at opplysninger som er gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.har_bekreftet_opplysninger }}</p>
    </section>
</div>
<!-- FOOTER -->
{{> partial/footerPartial søknadId=søknadId gitSha=soknadDialogCommitSha}}
</body>

<footer>

</footer>

</html>
