<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8"/>
    <title>{{tittel}}</title>
    <meta name="subject" content="{{tittel}}"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="{{tittel}} {{søknadMottattDag}} {{ søknadMottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Periode" href="#periode"/>
        <bookmark name="Samtykke" href="#samtykke"/>
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
<h1 id="header">{{tittel}}</h1>
<div class="nokkelinfo">
    <p><strong>Sendt til NAV</strong> {{søknadMottattDag}} {{ søknadMottatt }}</p>
    <p><strong>Språk:</strong> {{hjelp.språk}}</p>
</div>
<div class="innholdscontainer">
    {{> partial/felles/personPartial id="søker" title="Søker" navn=søker.navn fødselsnummer=søker.fødselsnummer }}

    <!-- Periode -->
    <section id="periode">
        <h2>Periode med deltakelse i ungdomsprogrammet</h2>
        <p><strong>Fra og med:</strong> {{ periode.fraOgMed }}</p>
        {{#if periode.tilOgMed}}
            <p><strong>Til og med:</strong> {{ periode.tilOgMed }}</p>
        {{/if}}
    </section>

    <!-- SAMTYKKE -->
    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr/>
        <p class="sporsmalstekst">Har du bekreftet at opplysninger du har gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
    </section>
</div>

<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ søknadId }}</span>
    <span class="soknadsid">{{ id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>
