<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8"/>
    <title>{{tittel}}</title>
    <meta name="subject" content="{{tittel}}"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="{{tittel}} {{søknadMottattDag}} {{ søknadMottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Godkjenne endret startdato" href="#endretStartdato"/>
        <bookmark name="Godkjenne endret sluttdato" href="#endretSluttdato"/>
        <bookmark name="Kontrollere inntekt fra register" href="#kontrollerRegisterInntektOppgave"/>
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
<h1 id="header">{{tittel}}</h1>
<div class="nokkelinfo">
    <p><strong>Sendt til NAV</strong> {{søknadMottattDag}} {{ søknadMottatt }}</p>
    <p><strong>Språk:</strong> {{hjelp.språk}}</p>
</div>
<div class="innholdscontainer">
    {{> partial/felles/personPartial id="søker" title="Søker" navn=søker.navn fødselsnummer=søker.fødselsnummer }}

    {{#if oppgave.endretStartdatoOppgave}}
        <section id="endretStartdato">
            <h2>Godkjenn endret startdato</h2>

            <div class="fritekst">
                <p class="sporsmalstekst">Melding fra {{oppgave.veilederRef}} (veileder):</p>
                <p class="fritekst_textarea">{{oppgave.meldingFraVeileder}}</p>
            </div>

            <br/>
            <p class="sporsmalstekst">Godkjenner du at startdato endres
                til {{oppgave.endretStartdatoOppgave.nyStartdato}}?</p>
            <p>{{oppgave.endretStartdatoOppgave.bekreftelseSvar}}</p><br/>

            {{#eq oppgave.endretStartdatoOppgave.bekreftelseSvar "Nei"}}
                <p class="sporsmalstekst">Har du hatt kontakt med veileder for å diskutere hvorfor du ikke ønsker å
                    godkjenne denne endringen?</p>
                {{jaNeiSvar oppgave.endretStartdatoOppgave.ikkeGodkjentResponse.kontaktVeilederSvar}}<br/>

                <div class="fritekst">
                    <p class="sporsmalstekst">Skriv en kort begrunnelse for hvorfor du ikke ønsker å godkjenne</p>
                    <p class="fritekst_textarea">{{oppgave.endretStartdatoOppgave.ikkeGodkjentResponse.meldingFraDeltaker}}</p>
                </div>
            {{/eq}}
        </section>
    {{/if}}

    {{#if oppgave.endretSluttdatoOppgave}}
        <section id="endretSluttdato">
            <h2>Godkjenn endret sluttdato</h2>

            <div class="fritekst">
                <p class="sporsmalstekst">Melding fra {{oppgave.veilederRef}} (veileder):</p>
                <p class="fritekst_textarea">{{oppgave.meldingFraVeileder}}</p>
            </div>

            <br/>
            <p class="sporsmalstekst">Godkjenner du at sluttdato endres
                til {{oppgave.endretSluttdatoOppgave.nySluttdato}}?</p>
            <p>{{oppgave.endretSluttdatoOppgave.bekreftelseSvar}}</p><br/>

            {{#eq oppgave.endretSluttdatoOppgave.bekreftelseSvar "Nei"}}
                <p class="sporsmalstekst">Har du hatt kontakt med veileder for å diskutere hvorfor du ikke ønsker å
                    godkjenne denne endringen?</p>
                {{jaNeiSvar oppgave.endretSluttdatoOppgave.ikkeGodkjentResponse.kontaktVeilederSvar}}<br/>

                <div class="fritekst">
                    <p class="sporsmalstekst">Skriv en kort begrunnelse for hvorfor du ikke ønsker å godkjenne</p>
                    <p class="fritekst_textarea">{{oppgave.endretSluttdatoOppgave.ikkeGodkjentResponse.meldingFraDeltaker}}</p>
                </div>
            {{/eq}}
        </section>
    {{/if}}

    {{#if oppgave.kontrollerRegisterInntektOppgave}}
        <section id="kontrollerRegisterInntektOppgave">
            <h2>Kontrollere inntekt fra register for perioden {{oppgave.kontrollerRegisterInntektOppgave.fraOgMed}} - {{oppgave.kontrollerRegisterInntektOppgave.tilOgMed}}</h2>

            <table class="periode_tabell">
                <thead>
                <tr>
                    <th>Arbeidstaker/frilanser</th>
                    <th>Inntekt</th>
                </tr>
                </thead>
                <tbody>
                {{#each oppgave.kontrollerRegisterInntektOppgave.registerinntekt.arbeidOgFrilansInntekter as |arbeidsinntekt|~}}
                    <tr>
                        <td>{{arbeidsinntekt.arbeidsgiver}}</td>
                        <td>{{arbeidsinntekt.inntekt}}</td>
                    </tr>
                {{/each}}
                </tbody>
                <br/>
                <thead>
                <tr>
                    <th>Ytelser</th>
                    <th>Inntekt</th>
                </tr>
                </thead>
                <tbody>
                {{#each oppgave.kontrollerRegisterInntektOppgave.registerinntekt.ytelseInntekter as |ytelse|~}}
                    <tr>
                        <td>{{ytelse.ytelsetype}}</td>
                        <td>{{ytelse.inntekt}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>

            <br/>
            <p class="sporsmalstekst">Er inntektsopplysningene fra A-ordningen riktig?</p>
            <p>{{oppgave.kontrollerRegisterInntektOppgave.bekreftelseSvar}}</p><br/>

            {{#eq oppgave.kontrollerRegisterInntektOppgave.bekreftelseSvar "Nei"}}
                <div class="fritekst">
                    <p class="sporsmalstekst">Hvorfor stemmer ikke inntekten vi har fått fra A-ordningen?</p>
                    <p class="fritekst_textarea">{{oppgave.kontrollerRegisterInntektOppgave.ikkeGodkjentResponse.meldingFraDeltaker}}</p>
                </div>
            {{/eq}}
        </section>
    {{/if}}
</div>

<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ oppgave.oppgaveReferanse }}</span>
    <span class="soknadsid">{{ deltakelseId }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>
